#altgraph @ file:///AppleInternal/Library/BuildRoots/9dd5efe2-7fad-11ee-b588-aa530c46a9ea/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
asgiref==3.7.2
cffi==1.15.1
distlib==0.3.8
Django==4.2.9
enum34==1.1.10
filelock==3.13.1
#future @ file:///AppleInternal/Library/BuildRoots/9dd5efe2-7fad-11ee-b588-aa530c46a9ea/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
idna==2.10
ipaddress==1.0.23
#macholib @ file:///AppleInternal/Library/BuildRoots/9dd5efe2-7fad-11ee-b588-aa530c46a9ea/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
pip==23.3.2
platformdirs==4.1.0
pyasn1==0.5.0
pycparser==2.21
setuptools==41.2.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
virtualenv==20.25.0
#wheel @ file:///AppleInternal/Library/BuildRoots/9dd5efe2-7fad-11ee-b588-aa530c46a9ea/Library/Caches/com.apple.xbs/Sources/python3/wheel-0.37.0-py2.py3-none-any.whl
gunicorn>=21.2,<22.0
dj-database-url>=2.0,<3.0
djangorestframework==3.14.0
django-heroku==0.3.1
