asgiref==3.8.1
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==5.0.6
django-heroku==0.3.1
djangorestframework==3.15.2
googlemaps==4.10.0
idna==3.7
numpy==2.0.0
pandas==2.2.2
pillow==10.4.0
psycopg2==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.1
reportlab==4.2.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
types-requests==2.32.0.20240622
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.7.0
